.header {
	background: silver;
	padding: 40px;
}

.header h1 {
	color: white;
}

.header h2 {
	color: rgba(0, 0, 0, .5);
}

.content {
	padding: 60px 20%;
	overflow: auto;
}

.content h3 {
	text-align: left;
}
.content article {
	width: 65%;
	float: left;
}


.content aside {
	width: 32%;
	float: right;
	background: red;
	padding: 30px;
	color: white;
}

